footer {
    background-color: $bg-color-suave;
    margin-top: 4rem;
    a {
        color: $secundario;
        font-size: 1.5rem;
        gap: .5rem;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 3.5rem;
        margin:0;

        img {
            width: 4rem;
            height: 4rem;
            margin-top: 1rem;
        }

        
    }
    
    li {
        margin: 1rem;
        width:5rem;
        height: 8rem;
        p {
            font-size: 1.2rem;
            width: 4rem;
            text-align: center;
        }

        &:hover li {
            font-size: 1.3rem;
            filter: brightness(1.9); 
        }    
    }
    
    img {
        &:hover {
            width: 4.01rem;
            height: 4.1rem;
            filter: brightness(1.9); 
        }

    }

}

